

body {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 65px;
    margin: 1rem;
}

#end-game-scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: absolute;
}

.hidden {
    display: none;
} 

#game-window {
    flex: 1;
    border: 2px solid white;
    box-shadow: 0 0 7px ghostwhite;
    margin-bottom: 1rem;
}

#game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 100%;
    gap: 1rem;
}

#controls, #leaderboard {
    flex: 1;
    min-height: 75%;
}

#controls {
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#leaderboard {
    margin: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-controls {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.arrow-controls img {
    width: 50px;
    height: 50px;
}

.controls-header, .leaderboard-header {
    font-size: 1.5rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.leaderboard-header {
    margin: 1em 0 0 0;
}



button {
    background-color: black;
    color: white;
    border: 2px solid white;
    margin: 0.5rem;
    padding: 0.2rem 1.5rem;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 0 7px ghostwhite;
}

#reset-btn {
    display: none;
}

button:hover {
    scale: 1.05;
    transition: all 0.3s ease-in-out;
    
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
